<ul class="slds-list--vertical slds-has-dividers">
  <li class="slds-list__item nav-list"><a href="/home">Home</a></li>
  <li class="slds-list__item nav-list"><a href="/todo">Todo</a></li>
  <li class="slds-list__item nav-list"><a href="/discussion">Discussion</a></li>
  <li class="slds-list__item nav-list"><a href="/">Logout</a></li>
</ul>