$static-font-path: "../../vendor/salesforce-lightning-design-system/assets/fonts/webfonts";
@import "./node_modules/@salesforce-ux/design-system/scss/index.scss";

.siteNavi {
  z-index: 1;
  min-width: 100px;
}

.siteMain {
  z-index: 0;
  min-width: 600px;
}