.react-slick-starter-component {
  .slick-demo {
    background: #00558B;
    color: #fff;
    line-height: 100px;
    text-align: center;
  }

  .container {
    padding: 40px;
    background: #419bb9;
  }
}